<%- include('partials/header') -%>

<div class="container mt-5">
    <%- include('partials/messages') -%>
	<div id="table1">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>Operations</th>
            </tr>
        </tfoot>
        <tbody>
            <% employees.forEach((employee)=> { %>
                    <tr>
                        <td><%= employee.name %></td>
                        <td><%= employee.designation %></td>
                        <td>$<%= employee.salary %></td>
                        <td>
                            <a class="btn btn-primary" href="/edit/<%= employee.id %>">Edit</a>
                            <form style="display: inline;" action="/delete/<%= employee.id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                            </form>
                        </td>
                    </tr>
               <% }) %>
                

            </tbody>
        </table>
		</div>
    </div>
<%- include('partials/footer') -%>